<?xml version="1.0"?>
<configuration>
  <location>
    <system.web>
      <authorization>
        <allow roles="admin,Директор"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ClientE.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,Директор,Менеджер"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
